{% extends 'base.html' %}

{% block title %}Functionality{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/functionality.css') }}">
{% endblock %}

{% block content %}

    <!--Intro Section -->
    <div class="functionality-container">
        <div class="intro-section scroll-reveal">
            <h1 class="intro-title">Functionality</h1>
            <p class="intro-subtitle">How Does UWI Compass Work?</p>
        </div>

        <!-- Description Section -->
        <div class="description-section scroll-reveal">
            <div class="description-card">
                <p class="description-text">
                    Understandably, there may some questions about how <strong>UWI Compass</strong>
                    operates. Below are a few tutorial videos to showcase the features of the system,
                    and hopefully answer those questions.
                </p>

            </div>
        </div>

          <!-- Login Video -->
        <div class="video-section">
            <h2 class="section-title scroll-reveal">User Login</h2>

            <div class="video-grid">

                <div class="video-card scroll-reveal">
        
                    <div class="video-card-container">

                        <div class="video-card-content">

                            <!-- Tutorial Video and Descriptions -->
                            <div class="tutorial-video">
                                <video controls>
                                    <source src="{{ url_for('static', filename='videos/UWI-Compass-Login.mp4') }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-info">
                            <p>Students are able to access UWI Compass using their
                                <i>Student ID</i> and <i>Password.</i> Additionally, the UWI Compass
                                <i>Terms of Service</i> must be accepted in order to fully complete the login process.
                                Students will not be asked to accept these terms again once they have done so the first time.
                            </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- Dashboard Video -->
            <h2 class="section-title scroll-reveal">Dashboard</h2>
            <div class="video-grid">

                <div class="video-card scroll-reveal">
                    <div class="video-card-container">

                        <!-- Tutorial Video and Descriptions -->
                        <div class="video-card-content">

                            <!-- Video  -->
                            <div class="tutorial-video">
                                <video controls>
                                    <source src="{{ url_for('static', filename='videos/UWI-Compass-Dashboard.mp4') }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-info">
                                <p>Once logged in to UWI Compass, students are shown the following:</p>
                                
                                <ul class="sub-arrow-list">
                                    <li><i>Degree Details: </i>Major, Minor GPA and Progress</li>
                                    <li><i>Academic Summary:</i> Provides a list of completed courses, sorted by foundation, and course level</li>
                                    <li><i>Skill Profile: </i>Created once a student generates a recommendation of courses to take</li>
                                </ul>

                                <p>Additionally, the student gains access to a sidebar, which allows quick 
                                    navigation between the <i>Dashboard,</i> <i>Courses,</i> and <i>Recommendations</i>
                                </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- Browse Courses Video -->
            <h2 class="section-title scroll-reveal">Courses</h2>
            <div class="video-grid">

                <div class="video-card scroll-reveal">
                    <div class="video-card-container">

                        <!-- Tutorial Video and Descriptions -->
                        <div class="video-card-content">

                            <!-- Video -->
                            <div class="tutorial-video">
                                <video controls>
                                    <source src="{{ url_for('static', filename='videos/UWI-Compass-Courses.mp4') }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-info">
                                <p>From <i>Courses,</i> students can choose to browse by faculty, or use the search bar.
                                The option to browse by department is also possible, once a faculty has been selected. </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            
            <!-- Reviews Video -->
            <h2 class="section-title scroll-reveal">Reviews</h2>
            <div class="video-grid">

                <div class="video-card scroll-reveal">
                    <div class="video-card-container">

                        <!-- Tutorial Video and Descriptions -->
                        <div class="video-card-content">

                            <!-- Video -->
                            <div class="tutorial-video">
                                <video controls>
                                    <source src="{{ url_for('static', filename='videos/UWI-Compass-Reviews.mp4') }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-info">
                                <p>Once a course has been selected, students are able to view more course details,
                                    such as the course description, and semester(s) offered.
                                    Alongside those are <i>Reviews,</i> which can only be left by students who have
                                    completed the course. 
                                </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            
            <!-- Forums Video -->
            <h2 class="section-title scroll-reveal">Forums</h2>
            <div class="video-grid">

                <div class="video-card scroll-reveal">
                    <div class="video-card-container">

                        <!-- Tutorial Video and Descriptions -->
                        <div class="video-card-content">

                            <!-- Video -->
                            <div class="tutorial-video">
                                <video controls>
                                    <source src="{{ url_for('static', filename='videos/UWI-Compass-Forums.mp4') }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-info">
                                <p><i>Forums</i> are directly accessed from a selected course.
                                    All students can participate here, whether by creating their own post,
                                or by replying to the posts of othe students. </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            
            <!-- Recommendations Video -->
            <h2 class="section-title scroll-reveal">Recommendations</h2>
            <div class="video-grid">

                <div class="video-card scroll-reveal">
                    <div class="video-card-container">

                        <!-- Tutorial Video and Descriptions -->
                        <div class="video-card-content">

                            <!-- Video -->
                            <div class="tutorial-video">
                                <video controls>
                                    <source src="{{ url_for('static', filename='videos/UWI-Compass-Recommendations.mp4') }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div class="video-info">
                                <p>From <i>Recommendations,</i> students can choose the semester and course level for which
                                    they want their recommendations. Before each generation is made, the student is reminded to
                                    complete their own research, and avoid using UWI Compass as a sole resource. 
                                    For students who are yet to complete any courses, they may select from a variety
                                    of skills to recieve their course recommendations.
                                </p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>





        </div>

    </div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/functionality.js') }}"></script>
{% endblock %}