<!-- Written by Khanez Wallace-->
 <div class="sidebar">
    <hr>
    <div class="nav-container">
        <div class="nav-items">
            <ul>
                <a href="{{ url_for('home') }}">
                    <li id="home"><i class="fa-solid fa-house"></i>Home</li>
                </a>

                <a href="{{ url_for('about_us') }}">
                    <li id="about-us"><i class="fa-solid fa-circle-info"></i>About Us</li>
                </a>

                <a href="{{ url_for('benefits') }}">
                    <li id="benefits"><i class="fa-solid fa-gift"></i>Benefits</li>
                </a>

                <a href="{{ url_for('functionality') }}">
                    <li id="functionality"><i class="fa-solid fa-list-check"></i>Functionality</li>
                </a>
            </ul>
        </div>
    </div>
</div>